html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: bold;
}

/* 背景画像配置 */
#wrapper {
    background-image: url("/images/town.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* 背景画像を半透明化 */
#transparent {
    height: 100%;
    background: rgba(255,255,255,0.5);
}

/* header領域 */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #fff;
}

header h1 {
    display: flex;
    justify-content: center;
    position: relative;
    line-height: 70px;
}

/* タイトルロゴ前 */
header h1.titleLogo::before {
    content: "";
    display: inline-block;
    height: 45px;
    width: 45px;
    background-image: url(/images/vendingMachine.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px -5px 0 0;
  }

/* タイトルロゴ後ろ */
 header h1.titleLogo::after {
    content: "";
    display: inline-block;
    height: 45px;
    width: 45px;
    background-image: url(/images/vendingMachine.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0 0 10px;
  
  } 

  /* ログイン、登録、ログアウトボタン */
  header ul {
      display: flex;
      position: absolute;
      right: 10px;
      list-style: none;
      
  }

  header ul li {
      padding-right: 10px;
  }

  header ul li a  {
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

 header a:visited {
    color: #888;
}
/* header領域終了 */

/* content領域 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    padding-top: 70px;   /* fixed指定のheaderとの重なり回避 */

}

.content h2 {
    margin: 10px 0 50px 0;
}

.content ul {
    display: flex;
    list-style:none;
}

.content ul li {
    margin: 10px;
}

/* マウスをかざした時の効果 */
header a:hover, .content input:hover {
    text-decoration: none;
    background-color: #000;
    color:#fff;
}

.content input {
    border-radius: 5px;
    font-weight: bold;
}

/* placeholderを中央揃え */
.content input::placeholder {
    text-align: center;
}

/* submitに影をつける */
.content input[type="submit"] {
    box-shadow: 3px 3px 3px gray;
}

/* 背景色を白で打ち消し */
input[type="text"]:hover, input[type="password"]:hover {
    background-color: #fff;
    color:#000;
}
/* content領域終了 */

/* トップページ領域 */
#depotsList {
    display: flex;
    font-weight: bold;
}

/* 購入ボタン */
.purchase {
    height: 30px;
    width: 60px;
}

/* 入金額入力、入金ボタン、返金ボタン */
.topArea {
    height:35px;
    width: 200px;
    margin: 5px;
   
}
/* トップページ領域終了 */

/* 登録、ログインページ */
.authArea {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 25px;
    margin-bottom: 30px;
}

/* 登録、ログインページ送信ボタン */
.authSubmit {
    width: 80px;
    height: 35px;
    font-weight: bold;
}

/* footer領域 */
footer {
    height: 80px;
    background-color: #fff;
}

footer small {
    line-height: 80px;
}
/* footer領域終了 */
